.sectionStyle {
    min-height: 350px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 68px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 68px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 68px -8px rgba(0, 0, 0, 0.75);
}
.img-style {
    margin: 10px;
}