.colesoBlock {
    position: relative;
}
.arrow {
    position: absolute; 
    left: 50%;
    top: -20px;
    width: 10px;
    height: 20px;
    background-color: black;
}
#canvas {
    transition: transform 2s linear; 
    width:400px; 
    height:400px; 
    margin-top:20px;
}
